# Series

In [1]:
# importing pandas in our program
import pandas as pd

# Defining a series object
srs = pd.Series([1,2,3,4,5])

# printing series values
print("The Series values are:")
print(srs.values)

# printing series indexes
print("\nThe Index values are:")
print(srs.index.values)

The Series values are:
[1 2 3 4 5]

The Index values are:
[0 1 2 3 4]

# Defining indexes

In [2]:
#importing pandas in our program
import pandas as pd

# Defining a series object
srs = pd.Series([11.9, 36.0, 16.6, 21.8, 34.2], index = ['China', 'India', 'USA', 'Brazil', 'Pakistan'])

# Set Series name
srs.name = "Growth Rate"

# Set index name
srs.index.name = "Country"

# printing series values
print("The Indexed Series values are:")
print(srs)

The Indexed Series values are:
Country
China       11.9
India       36.0
USA         16.6
Brazil      21.8
Pakistan    34.2
Name: Growth Rate, dtype: float64

# Index consistency

In [3]:
#importing pandas in our program
import pandas as pd

# Defining two series object
srs1 = pd.Series([11.9, 36.0, 16.6, 21.8, 34.2, 62.4], index = ['China', 'India', 'USA', 'Brazil', 'Pakistan', 'Nigeria'])

srs2 = pd.Series([2.33, 11.9, 36.0, 16.6, 21.8, 34.2], index = ['Afghanistan', 'China', 'India', 'USA', 'Brazil', 'Pakistan'])

srs = srs1 / srs2
# Set Series name
srs.name = "Resultant Object"

# Set index name
srs.index.name = "Country"

# printing series values
print("The new Indexed Series values are:")
print(srs)

The new Indexed Series values are:
Country
Afghanistan    NaN
Brazil         1.0
China          1.0
India          1.0
Nigeria        NaN
Pakistan       1.0
USA            1.0
Name: Resultant Object, dtype: float64

# More functions from indexes

In [4]:
#importing pandas in our program
import pandas as pd
# Defining two series object
srs1 = pd.Series([11.9, 36.0, 16.6, 21.8, 34.2, 62.4], index = ['China', 'India', 'USA', 'Brazil', 'Pakistan', 'Nigeria'])
srs2 = pd.Series([2.33, 11.9, 36.0, 16.6, 21.8, 34.2], index = ['Afghanistan', 'China', 'India', 'USA', 'Brazil', 'Pakistan'])
# Dividing series 1 values with seies 2 values
srs = srs1 / srs2
# Set Series name
srs.name = "Resultant Object"
# Set index name
srs.index.name = "Country"


print("The indexes that are assigned ‘True’ are Null:")
print(pd.isnull(srs))

print("\nThe indexes that are assigned ‘True’ are not Null:")
print(pd.notnull(srs))

print("\nIndexes that satisfy the condition are:")
print(srs[srs == 1.0])

print("\nIndexes that satisfy the condition are:")
print(srs[srs != 1.0])

The indexes that are assigned ‘True’ are Null:
Country
Afghanistan     True
Brazil         False
China          False
India          False
Nigeria         True
Pakistan       False
USA            False
Name: Resultant Object, dtype: bool

The indexes that are assigned ‘True’ are not Null:
Country
Afghanistan    False
Brazil          True
China           True
India           True
Nigeria        False
Pakistan        True
USA             True
Name: Resultant Object, dtype: bool

Indexes that satisfy the condition are:
Country
Brazil      1.0
China       1.0
India       1.0
Pakistan    1.0
USA         1.0
Name: Resultant Object, dtype: float64

Indexes that satisfy the condition are:
Country
Afghanistan   NaN
Nigeria       NaN
Name: Resultant Object, dtype: float64

# DataFrame

In [5]:
import pandas as pd

df = pd.read_csv("C:/Users/HP/Documents/Pandas/Pandas/cancer_stats.csv") # Read from csv file

print (df.head()) # This method prints the first five rows in the dataframe

       Sex  Under 1  1-4  5-9  10-14  15-19  20-24  25-29  30-34  35-39  40-44
0    Males       82  305  199    197    322    537    910   1239   1610   2045
1  Females       73  249  171    183    297    554   1341   2219   3085   4457
2    Males        0    0    1      4     10      7     17     30     67    139
3  Females        0    1    0      5      8      8     12     29     53     81
4    Males        0    0    0      0      0      0      1      1      1      2

In [6]:
df.tail()

,Sex,Under 1,1-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44
453,Females,1,0,0,1,1,1,2,2,0,0
454,Males,6,41,50,31,61,62,115,165,318,565
455,Females,8,24,37,32,40,43,104,227,443,705
456,Males,3,38,49,27,57,60,112,161,315,545
457,Females,7,22,36,30,38,41,96,221,436,693

# Accessing columns

In [7]:
import pandas as pd

df = pd.read_csv("C:/Users/HP/Documents/Pandas/Pandas/cancer_stats.csv")

print(df.columns) # print columns of DataFrame

print("\nThe First Column")
print(df['Sex'].head()) # Fetch the sex colum from DataFrame
print("\nThe type of this column is: " + str(type(df['Sex'])) + "\n")

print("\nThe Second Column")
print(df['Under 1'].head()) # Fetch the Under 1 colum from DataFrame
print("\nThe type of this column is: " + str(type(df['Under 1'])) + "\n")


print("\nThe Last Column")
print(df['40-44'].head()) # Fetch the 40-44 colum from DataFrame
print("\nThe type of this column is: " + str(type(df['40-44'])) + "\n")

Index(['Sex', 'Under 1', '1-4', '5-9', '10-14', '15-19', '20-24', '25-29',
       '30-34', '35-39', '40-44'],
      dtype='object')

The First Column
0      Males
1    Females
2      Males
3    Females
4      Males
Name: Sex, dtype: object

The type of this column is: <class 'pandas.core.series.Series'>


The Second Column
0    82
1    73
2     0
3     0
4     0
Name: Under 1, dtype: int64

The type of this column is: <class 'pandas.core.series.Series'>


The Last Column
0    2045
1    4457
2     139
3      81
4       2
Name: 40-44, dtype: int64

The type of this column is: <class 'pandas.core.series.Series'>

# Accessing rows

In [8]:
import pandas as pd

df = pd.read_csv("C:/Users/HP/Documents/Pandas/Pandas/cancer_stats.csv")

print("\nThe Row values at index 0\n")
print(df.loc[0])

print("\nThe Row values at index 1\n")
print(df.loc[1])

print("\nThe Row values at index 6\n")
print(df.loc[6])

The Row values at index 0

Sex        Males
Under 1       82
1-4          305
5-9          199
10-14        197
15-19        322
20-24        537
25-29        910
30-34       1239
35-39       1610
40-44       2045
Name: 0, dtype: object

The Row values at index 1

Sex        Females
Under 1         73
1-4            249
5-9            171
10-14          183
15-19          297
20-24          554
25-29         1341
30-34         2219
35-39         3085
40-44         4457
Name: 1, dtype: object

The Row values at index 6

Sex        Males
Under 1        0
1-4            0
5-9            0
10-14          0
15-19          0
20-24          0
25-29          0
30-34          1
35-39          6
40-44         12
Name: 6, dtype: object

# Dealing with NaN values

In [9]:
import pandas as pd

df = pd.read_csv("C:/Users/HP/Documents/Pandas/Pandas/cancer_stats.csv")
# Assign new Disease column
new_df = pd.DataFrame(df, columns=['Sex', 'Under 1', '40-44', 'Disease'])

print("The new DataFrame with an added columns is:\n")
print(new_df.head())

The new DataFrame with an added columns is:

       Sex  Under 1  40-44  Disease
0    Males       82   2045      NaN
1  Females       73   4457      NaN
2    Males        0    139      NaN
3  Females        0     81      NaN
4    Males        0      2      NaN

# Assigning values to NaN

In [10]:
import numpy as np
import pandas as pd

df = pd.read_csv("C:/Users/HP/Documents/Pandas/Pandas/cancer_stats.csv")

new_df = pd.DataFrame(df, columns=['Sex', 'Under 1', '40-44', 'Disease'])

new_df['Disease'] = "Lymphoma"
print("The new DataFrame is:\n")
print(new_df.head())

new_df2 = pd.DataFrame(df, columns=['Sex', 'Under 1', '40-44', 'Random_ID'])

new_df2['Random_ID'] = np.arange(new_df2.shape[0])
print("\nThe new DataFrame is:\n")
print(new_df2.head(10))

The new DataFrame is:

       Sex  Under 1  40-44   Disease
0    Males       82   2045  Lymphoma
1  Females       73   4457  Lymphoma
2    Males        0    139  Lymphoma
3  Females        0     81  Lymphoma
4    Males        0      2  Lymphoma

The new DataFrame is:

       Sex  Under 1  40-44  Random_ID
0    Males       82   2045          0
1  Females       73   4457          1
2    Males        0    139          2
3  Females        0     81          3
4    Males        0      2          4
5  Females        0      4          5
6    Males        0     12          6
7  Females        0      7          7
8    Males        0     32          8
9  Females        0     19          9

# Re-indexing in Series

In [11]:
#importing pandas in our program
import pandas as pd

# Defining a series object
srs1 = pd.Series([11.9, 36.0, 16.6, 21.8, 34.2], index = ['China', 'India', 'USA', 'Brazil', 'Pakistan'])

# Set Series name
srs1.name = "Growth Rate"

# Set index name
srs1.index.name = "Country"

srs2 = srs1.reindex(['China', 'India', 'Malaysia', 'USA', 'Brazil', 'Pakistan', 'England'])
print("The series with new indexes is:\n",srs2)

srs3 = srs1.reindex(['China', 'India', 'Malaysia', 'USA', 'Brazil', 'Pakistan', 'England'], fill_value=0)
print("\nThe series with new indexes is:\n",srs3)

The series with new indexes is:
 Country
China       11.9
India       36.0
Malaysia     NaN
USA         16.6
Brazil      21.8
Pakistan    34.2
England      NaN
Name: Growth Rate, dtype: float64

The series with new indexes is:
 Country
China       11.9
India       36.0
Malaysia     0.0
USA         16.6
Brazil      21.8
Pakistan    34.2
England      0.0
Name: Growth Rate, dtype: float64

# Re-indexing in DataFrame

In [12]:
import numpy as np
import pandas as pd

# Define a 2-D array
arr2d = np.arange(16).reshape(4,4)

# Give 2-D array to Dataframe and assign index and column names.
df = pd.DataFrame(arr2d, index=['Row1', 'Row2', 'Row4', 'Row5'], columns=['Column1','Column2','Column3','Column4'])
print("The original DataFrame\n", df)

df2 = df.reindex(['Row1', 'Row2', 'Row3', 'Row4', 'Row5'])
print("\nNew DataFrame with reindexed indexes:\n", df2)

df2 = df2.reindex(columns=['Column0', 'Column1', 'Column2', 'Column3', 'Column4'])
print("\nNew DataFrame with reindexed columns:\n", df2)

The original DataFrame
       Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row4        8        9       10       11
Row5       12       13       14       15

New DataFrame with reindexed indexes:
       Column1  Column2  Column3  Column4
Row1      0.0      1.0      2.0      3.0
Row2      4.0      5.0      6.0      7.0
Row3      NaN      NaN      NaN      NaN
Row4      8.0      9.0     10.0     11.0
Row5     12.0     13.0     14.0     15.0

New DataFrame with reindexed columns:
       Column0  Column1  Column2  Column3  Column4
Row1      NaN      0.0      1.0      2.0      3.0
Row2      NaN      4.0      5.0      6.0      7.0
Row3      NaN      NaN      NaN      NaN      NaN
Row4      NaN      8.0      9.0     10.0     11.0
Row5      NaN     12.0     13.0     14.0     15.0

# Forward filling in Series

In [13]:
import pandas as pd

srs1 = pd.Series([11.9, 36.0, 16.6, 21.8, 34.2], index = ['China', 'India', 'USA', 'Brazil', 'Pakistan'])
srs1.name = "Growth Rate"
srs1.index.name = "Country"

srs2 = srs1.reindex(['China', 'India', 'Malaysia', 'USA', 'Brazil', 'Pakistan', 'England'])
print("The series NaN Values:\n",srs2)

print("\nThe series with new Values:\n",srs2.ffill())

The series NaN Values:
 Country
China       11.9
India       36.0
Malaysia     NaN
USA         16.6
Brazil      21.8
Pakistan    34.2
England      NaN
Name: Growth Rate, dtype: float64

The series with new Values:
 Country
China       11.9
India       36.0
Malaysia    36.0
USA         16.6
Brazil      21.8
Pakistan    34.2
England     34.2
Name: Growth Rate, dtype: float64

# Forward filling in DataFrame

In [14]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(16).reshape(4,4), index=['Row1', 'Row2', 'Row4', 'Row5'], columns=['Column1','Column2','Column3','Column4'])

df2 = df.reindex(['Row1', 'Row2', 'Row3', 'Row4', 'Row5'])
df2 = df2.reindex(columns=['Column1', 'Column2', 'Column3', 'Column4', 'Column5'])
print("DataFrame with NaN Values:\n", df2)

# Fill values row wise
print("\nDataFrame with new values around Axis 0:\n", df2.ffill(axis = 0))

# Fill values column wise
print("\nDataFrame with new values around Axis 1:\n", df2.ffill(axis = 1))

DataFrame with NaN Values:
       Column1  Column2  Column3  Column4  Column5
Row1      0.0      1.0      2.0      3.0      NaN
Row2      4.0      5.0      6.0      7.0      NaN
Row3      NaN      NaN      NaN      NaN      NaN
Row4      8.0      9.0     10.0     11.0      NaN
Row5     12.0     13.0     14.0     15.0      NaN

DataFrame with new values around Axis 0:
       Column1  Column2  Column3  Column4  Column5
Row1      0.0      1.0      2.0      3.0      NaN
Row2      4.0      5.0      6.0      7.0      NaN
Row3      4.0      5.0      6.0      7.0      NaN
Row4      8.0      9.0     10.0     11.0      NaN
Row5     12.0     13.0     14.0     15.0      NaN

DataFrame with new values around Axis 1:
       Column1  Column2  Column3  Column4  Column5
Row1      0.0      1.0      2.0      3.0      3.0
Row2      4.0      5.0      6.0      7.0      7.0
Row3      NaN      NaN      NaN      NaN      NaN
Row4      8.0      9.0     10.0     11.0     11.0
Row5     12.0     13.0     14.0     15.0     15.0

# Selection in Series

In [15]:
import numpy as np
import pandas as pd

srs = pd.Series(np.arange(0, 6, 1), index = ['ind0', 'ind1', 'ind2', 'ind3', 'ind4', 'ind5'])
srs.index.name = "Index"
print("The original Series:\n", srs)

print("\nSeries element at index ind3:")
print(srs['ind3']) # Fetch element at index named ind3

print("\nSeries element at index 3:")
print(srs[3]) # Fetch element at index 3

print("\nSeries elements at multiple indexes:\n")
print(srs[['ind1', 'ind4']]) # Fetch elements at multiple indexes

The original Series:
 Index
ind0    0
ind1    1
ind2    2
ind3    3
ind4    4
ind5    5
dtype: int32

Series element at index ind3:
3

Series element at index 3:
3

Series elements at multiple indexes:

Index
ind1    1
ind4    4
dtype: int32

In [16]:
import numpy as np
import pandas as pd

srs = pd.Series(np.arange(0, 6, 1), index = ['ind0', 'ind1', 'ind2', 'ind3', 'ind4', 'ind5'])
srs.index.name = "Index"
print("The original Series:\n", srs)

print("\nSeries elements after and including index 4:\n", srs[4: ]) # Fetch elements in a range

print("\nAll Series elements greater than equal to 3:\n", srs[srs >= 3]) # Fetch elements with a condition

The original Series:
 Index
ind0    0
ind1    1
ind2    2
ind3    3
ind4    4
ind5    5
dtype: int32

Series elements after and including index 4:
 Index
ind4    4
ind5    5
dtype: int32

All Series elements greater than equal to 3:
 Index
ind3    3
ind4    4
ind5    5
dtype: int32

# Dropping entries

In [17]:
import numpy as np
import pandas as pd

srs = pd.Series(np.arange(0, 6, 1), index = ['ind0', 'ind1', 'ind2', 'ind3', 'ind4', 'ind5'])
srs.index.name = "Index"
print("The original Series:\n", srs)

srs = srs.drop('ind2') # drop index named ind2

print("The New Series:\n", srs)

The original Series:
 Index
ind0    0
ind1    1
ind2    2
ind3    3
ind4    4
ind5    5
dtype: int32
The New Series:
 Index
ind0    0
ind1    1
ind3    3
ind4    4
ind5    5
dtype: int32

# Selection in DataFrame

In [18]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(16).reshape(4,4), index=['Row1', 'Row2', 'Row3', 'Row4'], columns=['Column1','Column2','Column3','Column4'])

print("The original DataFrame\n", df)

print("\nElements which satisfy the condition:\n", df[df['Column3'] > 6])

print("\nElements of Index named Row4:\n", df.loc['Row4'])

The original DataFrame
       Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15

Elements which satisfy the condition:
       Column1  Column2  Column3  Column4
Row3        8        9       10       11
Row4       12       13       14       15

Elements of Index named Row4:
 Column1    12
Column2    13
Column3    14
Column4    15
Name: Row4, dtype: int32

# Dropping entries

In [19]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(16).reshape(4,4), index=['Row1', 'Row2', 'Row3', 'Row4'], columns=['Column1','Column2','Column3','Column4'])

print("The original DataFrame\n", df)

print("\nDataFrame after dropping Index Row2:\n", df.drop('Row2'))

print("\nDataFrame after dropping Column2:\n", df.drop('Column2',axis=1))

The original DataFrame
       Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15

DataFrame after dropping Index Row2:
       Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row3        8        9       10       11
Row4       12       13       14       15

DataFrame after dropping Column2:
       Column1  Column3  Column4
Row1        0        2        3
Row2        4        6        7
Row3        8       10       11
Row4       12       14       15

# Sort

In [20]:
import pandas as pd

# Numeric indexes
print("Numeric Indexes Sorted")
srs1 = pd.Series([1,2,3], index = ['3', '1', '2'])
print(srs1.sort_index())

# Alphabetic indexes
print("\nAlphabetic Indexes Sorted")
srs2 = pd.Series([1,2,3], index = ['B', 'C', 'A'])
print(srs2.sort_index())

# Alhanumeric indexes
print("\nAlphanumeric Indexes Sorted")
srs3 = pd.Series([1,2,3], index = ['3', '2', 'A'])
print(srs3.sort_index())

Numeric Indexes Sorted
1    2
2    3
3    1
dtype: int64

Alphabetic Indexes Sorted
A    3
B    1
C    2
dtype: int64

Alphanumeric Indexes Sorted
2    2
3    1
A    3
dtype: int64

In [21]:
import pandas as pd
import numpy as np

# Numeric values
print("Random Numeric Values Sorted")
srs1 = pd.Series(np.random.randn(5))
print(srs1.sort_values())

# Alphabetic values
print("\nAlphabetic Values Sorted")
srs2 = pd.Series(['D', 'A', 'E', 'C', 'B'])
print(srs2.sort_values())

Random Numeric Values Sorted
1   -1.486021
2   -0.549471
0    0.266499
4    0.931331
3    1.366510
dtype: float64

Alphabetic Values Sorted
1    A
4    B
3    C
0    D
2    E
dtype: object

# Rank

In [22]:
import pandas as pd
import numpy as np

srs = pd.Series(np.random.randn(5))

print("The series:")
print(srs)
# Ranks before sorting
print("\nRanks before sorting:")
print(srs.rank())

srs = srs.sort_values()
# Ranks after sorting
print("\nRanks after sorting:")
print(srs.rank())

The series:
0   -1.615288
1   -1.160272
2    0.079285
3   -0.920488
4   -2.068569
dtype: float64

Ranks before sorting:
0    2.0
1    3.0
2    5.0
3    4.0
4    1.0
dtype: float64

Ranks after sorting:
4    1.0
0    2.0
1    3.0
3    4.0
2    5.0
dtype: float64

# Missing data

In [23]:
import numpy as np
import pandas as pd

null_val = np.nan

srs = pd.Series(['A','B','C',null_val]) # Declaring series with null values

print("Series with NaN values:")
print(srs.isnull()) # Checking for null values

# Declaring DataFrame with null values
df = pd.DataFrame([['A','B','C',null_val],[null_val,'B',null_val,'D'],[null_val,'B','C',null_val]])

print("\nDataFrame with NaN values:")
print(df.isnull()) # Checking for null values

Series with NaN values:
0    False
1    False
2    False
3     True
dtype: bool

DataFrame with NaN values:
       0      1      2      3
0  False  False  False   True
1   True  False   True  False
2   True  False  False   True

In [24]:
import numpy as np
import pandas as pd

null_val = np.nan

df = pd.DataFrame([['A','B','C','D'],[null_val,'B',null_val,'D'],[null_val,'B','C',null_val],[null_val,null_val,null_val,null_val]])

print("Originl DataFrame:")
print(df)
# Dropping Null values
print("\nThe dropna() method:")
print(df.dropna())

print("\nThe dropna(how = all) method:")
print(df.dropna(how = 'all'))

print("\nThe dropna(axis=1) method:")
print(df.dropna(axis=1))

print("\nThe dropna(thresh = n) method:")
print(df.dropna(thresh = 1))

Originl DataFrame:
     0    1    2    3
0    A    B    C    D
1  NaN    B  NaN    D
2  NaN    B    C  NaN
3  NaN  NaN  NaN  NaN

The dropna() method:
   0  1  2  3
0  A  B  C  D

The dropna(how = all) method:
     0  1    2    3
0    A  B    C    D
1  NaN  B  NaN    D
2  NaN  B    C  NaN

The dropna(axis=1) method:
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

The dropna(thresh = n) method:
     0  1    2    3
0    A  B    C    D
1  NaN  B  NaN    D
2  NaN  B    C  NaN

In [25]:
import numpy as np
import pandas as pd

null_val = np.nan

df = pd.DataFrame([['A','B','C','D'],[null_val,'B',null_val,'D'],[null_val,'B','C',null_val],[null_val,null_val,null_val,null_val]])

print("Originl DataFrame:")
print(df)
# Fill the Null values
print("\nThe filled DataFrame:")
print(df.fillna('M'))

Originl DataFrame:
     0    1    2    3
0    A    B    C    D
1  NaN    B  NaN    D
2  NaN    B    C  NaN
3  NaN  NaN  NaN  NaN

The filled DataFrame:
   0  1  2  3
0  A  B  C  D
1  M  B  M  D
2  M  B  C  M
3  M  M  M  M

# Pandas functions

In [26]:
import numpy as np
import pandas as pd
# Declaring DataFrame 
df = pd.DataFrame(np.arange(9).reshape(3,3), index=['A', 'B', 'C'], columns=['A', 'B', 'C'])

print("The DataFrame")
print(df)

print("\nThe sum of each Column:")
print(df.sum(axis=0))

print("\nThe sum of each Row:")
print(df.sum(axis=1))

The DataFrame
   A  B  C
A  0  1  2
B  3  4  5
C  6  7  8

The sum of each Column:
A     9
B    12
C    15
dtype: int64

The sum of each Row:
A     3
B    12
C    21
dtype: int64

In [27]:
import numpy as np
import pandas as pd
# Declaring DataFrame 
df = pd.DataFrame(np.arange(9).reshape(3,3), index=['A', 'B', 'C'], columns=['A', 'B', 'C'])

print("The DataFrame")
print(df)

print("\nThe minimum from each Column:")
print(df.min(axis=0))

print("\nThe minimum from each Row:")
print(df.min(axis=1))

The DataFrame
   A  B  C
A  0  1  2
B  3  4  5
C  6  7  8

The minimum from each Column:
A    0
B    1
C    2
dtype: int32

The minimum from each Row:
A    0
B    3
C    6
dtype: int32

In [28]:
import numpy as np
import pandas as pd
# Declaring DataFrame 
df = pd.DataFrame(np.arange(9).reshape(3,3), index=['A', 'B', 'C'], columns=['Col1', 'Col2', 'Col3'])

print("The DataFrame")
print(df)

print("\nThe minimum value in each Column is at index:")
print(df.idxmin(axis=0))

print("\nThe minimum value at each index is at Column:")
print(df.idxmin(axis=1))

The DataFrame
   Col1  Col2  Col3
A     0     1     2
B     3     4     5
C     6     7     8

The minimum value in each Column is at index:
Col1    A
Col2    A
Col3    A
dtype: object

The minimum value at each index is at Column:
A    Col1
B    Col1
C    Col1
dtype: object

# Multilevel indexing in Series

In [29]:
import numpy as np
import pandas as pd
# Declaring a multilevel indexed Series
srs = pd.Series(np.arange(5), index=[['A','A','B','B','B'],[1,2,3,4,5]])

print("The multileveled index in Series:")
print(srs)

print("\nThe A index:")
print(srs['A']) # Fetching elements at index named A

print("\nThe B index:")
print(srs['B']) # Fetching elements at index named B

The multileveled index in Series:
A  1    0
   2    1
B  3    2
   4    3
   5    4
dtype: int32

The A index:
1    0
2    1
dtype: int32

The B index:
3    2
4    3
5    4
dtype: int32

# Multilevel indexing in DataFrame

In [30]:
import numpy as np
import pandas as pd
# Declaring a multilevel indexed DataFrame
df = pd.DataFrame(np.arange(25).reshape(5,5), index=[['A','A','A','B','B'], [1,2,3,4,5]], 
                        columns=[['USA', 'Pak', 'Pak', 'UK','Ind'], ['Day', 'Day','Night', 'Night', 'Night']])

print("The multileveled index in DataFrame:\n")
print(df)

The multileveled index in DataFrame:

    USA Pak          UK   Ind
    Day Day Night Night Night
A 1   0   1     2     3     4
  2   5   6     7     8     9
  3  10  11    12    13    14
B 4  15  16    17    18    19
  5  20  21    22    23    24

# SUM and SWAP

In [31]:
def Sum_Swap(df):
    
    minm_r = np.min(df, axis = 1) # Get minimum elements from all rows
    
    maxm_r = np.max(df, axis = 1) # Get maximum elements from all rows
    
    df['row_sum'] = minm_r + maxm_r # Add the min & max values and assign them to new column

    minm_c = np.min(df, axis = 0) # Get minimum elements from all columns
    
    maxm_c = np.max(df, axis = 0) # Get maximum elements from all columns
    
    df.loc['col_sum'] = minm_c + maxm_c # Add the min & max values and assign them to new row

    a, b = df['row_sum'].copy(), df.loc['col_sum'].copy() # Store values of row and column in temparory variables
    
    df['row_sum'], df.loc['col_sum'] = b, a # Interchange the values
    
    return df

# Test Code

df = pd.DataFrame(np.random.randint(1, 100, 25).reshape(5, 5))
    
df_res = Sum_Swap(df.copy())

print(df_res)

           0   1   2    3   4  row_sum
0         72  70  36   83  43     81.0
1         33  15   2   73  57     79.0
2         14  22  62   17  62     82.0
3          9  31  11   95  11    112.0
4         49   9  80   24  19     73.0
col_sum  119  75  76  104  89      NaN