# Conditional Statement

In [1]:
n = 20

if n > 0:
    print(n, "Positive!")

20 Positive!

In [2]:
p = 100

if p > 0:
    print(p, "Positive!")
print("*******************")

if p > 20:
    print(p, "Positive!")
print("******###*******")

100 Positive!
*******************
100 Positive!
******###*******

In [4]:
p = 100

if p > 0:
    print(p, "Positive!")
print("*******************")

if p > 20:
    print(p, "Positive!")
else:
    print(p, "What")
print("******#*#*******")

100 Positive!
*******************
100 Positive!
******#*#*******

In [5]:
n = 0

if n > 0:
    print(n , "is Positive")
elif n == 0:
    print(n , " is Zero")
else:
    print(n, "is negative")

0  is Zero

In [7]:
v = float(input("Put number : "))

#nested if

if v >= 0:
    if v == 0:
        print("number is zero")
    else:
        print("number is positive")
else:
    print("number is negative")

Put number : 0
number is zero

# While loop

In [8]:
i = 1
while i < 8:
    print(i)
    i += 1

1
2
3
4
5
6
7

In [9]:
i = 1
while i < 8:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [12]:
# Program to show the use of continue statement inside loops

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

# For Loop

In [13]:
fruit = ["lemon", "cherry", "banana"]

for x in fruit:
    print(x)

lemon
cherry
banana

In [14]:
#Looping through a string

for i in "Python":
    print(i)

P
y
t
h
o
n

In [15]:
#using for loop with range()

for x in range(8):
    print(x)

0
1
2
3
4
5
6
7

In [16]:
for x in range(2,7):
    print(x)

2
3
4
5
6

In [17]:
for x in range(2 , 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [18]:
for x in range(2 , 30, 3):
    print(x)
else:
    print("Completed")

2
5
8
11
14
17
20
23
26
29
Completed

In [19]:
for num in range(-2,-5,-1):
    print(num, end = ", ")

-2, -3, -4,

In [20]:
for num in range(2,-5,-1):
    print(num, end=", ")

2, 1, 0, -1, -2, -3, -4,

In [21]:
x = 0
for i in range(10):
    for j in range(-1, -10, -1):
        x += 1
        print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [22]:
for l in "Dony":
    if l == 'n':
        pass
    print(l, end=", ")

D, o, n, y,