# Sets

In [1]:
f = {"apple", "fig", "lemon"}
print(f)

{'apple', 'fig', 'lemon'}

In [2]:
type(f)

set

In [3]:
len(f)

3

In [4]:
set1 = {"banana", "cherry"}
set2 = {1,2,3,4}
set3 = {False, True, False}

print(set1)
print(set2)
print(set3)

{'banana', 'cherry'}
{1, 2, 3, 4}
{False, True}

In [5]:
n = {True, "Py", 5,3.7}
print(n)

{3.7, True, 'Py', 5}

In [6]:
f = set(("banana", 3))
print(f)

{'banana', 3}

In [7]:
for x in f:
    print(f)

{'banana', 3}
{'banana', 3}

In [8]:
print("apple" in f)

False

In [9]:
f.add("orange")
print(f)

{'orange', 'banana', 3}

In [10]:
f.update(["lemon"])
print(f)

{'orange', 'banana', 3, 'lemon'}

In [11]:
f.remove("orange")
print(f)

{'banana', 3, 'lemon'}

In [13]:
f.discard(3)
print(f)

{'banana', 'lemon'}

In [14]:
x = f.pop()
print(x)
print(f)

banana
{'lemon'}

In [15]:
f.clear()
print(f)

set()

In [ ]:
# del f will not work as it no longer exist after clear()

In [16]:
s = {"Yellow", "Orange", "Black"}
s1 = {"Orange", "Blue", "Pink"}

s.difference_update(s1)
print(s)

{'Yellow', 'Black'}

In [17]:
s = {"Yellow", "Orange", "Black"}
s.add("Blue")
s.add("Orange")
print(s)

{'Yellow', 'Black', 'Blue', 'Orange'}

In [19]:
d = {10,20,30,40,50}
d1 = {60,70,10,30,40,80,20,50}

print(d.issubset(d1))
print(d1.issuperset(d))

True
True

In [20]:
s = {10,20,30,40}
s1 = {50,20,"10",60}

s2 = s.union(s1)
print(s2)

{40, 10, '10', 50, 20, 60, 30}

In [21]:
s = {"Yellow", "Orange", "Black"}
s.update(["Blue", "Green","Red"])
print(s)

{'Yellow', 'Green', 'Orange', 'Black', 'Blue', 'Red'}