# Tuples

In [1]:
n = ("fig", "banana", "lemon")
print(n)

('fig', 'banana', 'lemon')

In [2]:
n = ("fig", "banana", "lemon", "banana")
print(n)

('fig', 'banana', 'lemon', 'banana')

In [3]:
len(n)

4

In [4]:
type(n)

tuple

In [5]:
n1 = ("banana")
n2 = ("banana",)

print(type(n1))
print(type(n2))

<class 'str'>
<class 'tuple'>

In [7]:
f = ("banana", "cherry", "apple")
n = (1,2,3,4,5)
b = (True, False, True)

print(f)
print(n)
print(b)

('banana', 'cherry', 'apple')
(1, 2, 3, 4, 5)
(True, False, True)

In [8]:
m = ("hi", True, 1, 2.5)
print(m)

('hi', True, 1, 2.5)

In [9]:
n = tuple(("Banana", "apple", "Fig"))
print(n)
print(type(n))

('Banana', 'apple', 'Fig')
<class 'tuple'>

In [10]:
print(n[0])
print(n[1])

Banana
apple

In [11]:
print(n[-1])

Fig

In [12]:
print(n[0:2])

('Banana', 'apple')

In [13]:
print(n[1:])

('apple', 'Fig')

In [14]:
f = ("apple", "banana", "fig","cherry")
if "banana" in f:
    print("yes")

yes

In [15]:
f1 = list(f)
f1[1] = "watermelon"
f = tuple(f1)
print(f)

('apple', 'watermelon', 'fig', 'cherry')

In [17]:
a = (100,200,300,400,500)
## a.pop(2) attribute error
print(a)

(100, 200, 300, 400, 500)

In [18]:
a = ("Orange")
print(type(a))

<class 'str'>

In [19]:
a = (100,200,300,400,500)
print(a[-2])
print(a[-4:-1])

400
(200, 300, 400)

In [26]:
a = ("orange", [10,20,30],(5,15,25))
a[1][1]

20

In [28]:
b = "yellow", 20, "Red"
c,f,g = b
print(c)

yellow