# Mapping data

In [1]:
import pandas as pd

df = pd.DataFrame({'City':['Lahore', 'Mumbai', 'Karachi', 'London'],
                   'AQI':[147, 166, 152, 81]})

print("The Original DataFrame")
print(df,'\n')

dict_map = {'Lahore':'Pakistan', 'Karachi':'Pakistan', 'Mumbai':'India', 'London':'UK'}

df['Country'] = df['City'].map(dict_map)

print("The Mapped DataFrame")
print(df)

The Original DataFrame
      City  AQI
0   Lahore  147
1   Mumbai  166
2  Karachi  152
3   London   81

The Mapped DataFrame
      City  AQI   Country
0   Lahore  147  Pakistan
1   Mumbai  166     India
2  Karachi  152  Pakistan
3   London   81        UK

# Removing duplicated data

In [2]:
import pandas as pd

df = pd.DataFrame({'Col1':['A', 'B', 'A', 'C', 'B', 'C'],
                    'Col2': [1, 2, 1, 3, 4, 3]})

print("The Original DataFrame")
print(df,'\n')

print("The DataFrame without duplicates")
print(df.drop_duplicates(),'\n')

print("The DataFrame without Column1 duplicates")
print(df.drop_duplicates(['Col1']))

The Original DataFrame
  Col1  Col2
0    A     1
1    B     2
2    A     1
3    C     3
4    B     4
5    C     3

The DataFrame without duplicates
  Col1  Col2
0    A     1
1    B     2
3    C     3
4    B     4

The DataFrame without Column1 duplicates
  Col1  Col2
0    A     1
1    B     2
3    C     3