# Stack

In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(12).reshape(3,4), index = ['Row1', 'Row2', 'Row3'], 
                                            columns = ['Col1','Col2','Col3','Col4',])

df.index.name = 'Row'
df.columns.name = 'Column'

print("The Original DataFrame")
print(df,'\n')

print("The Stacked DataFrame")
print(df.stack())

The Original DataFrame
Column  Col1  Col2  Col3  Col4
Row
Row1       0     1     2     3
Row2       4     5     6     7
Row3       8     9    10    11

The Stacked DataFrame
Row   Column
Row1  Col1       0
      Col2       1
      Col3       2
      Col4       3
Row2  Col1       4
      Col2       5
      Col3       6
      Col4       7
Row3  Col1       8
      Col2       9
      Col3      10
      Col4      11
dtype: int32

# Unstack

In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.arange(12).reshape(3,4), index = ['Row1', 'Row2', 'Row3'], 
                                            columns = ['Col1','Col2','Col3','Col4',])

df.index.name = 'Row'
df.columns.name = 'Column'

print("The Original DataFrame")
print(df,'\n')

stacked_df = df.stack()
print("The Stacked DataFrame\n", stacked_df)

print("\nThe Unstacked DataFrame")
print(stacked_df.unstack(),'\n')

print("The Unstacked DataFrame on Named index")
print(stacked_df.unstack('Row'))

The Original DataFrame
Column  Col1  Col2  Col3  Col4
Row
Row1       0     1     2     3
Row2       4     5     6     7
Row3       8     9    10    11

The Stacked DataFrame
 Row   Column
Row1  Col1       0
      Col2       1
      Col3       2
      Col4       3
Row2  Col1       4
      Col2       5
      Col3       6
      Col4       7
Row3  Col1       8
      Col2       9
      Col3      10
      Col4      11
dtype: int32

The Unstacked DataFrame
Column  Col1  Col2  Col3  Col4
Row
Row1       0     1     2     3
Row2       4     5     6     7
Row3       8     9    10    11

The Unstacked DataFrame on Named index
Row     Row1  Row2  Row3
Column
Col1       0     4     8
Col2       1     5     9
Col3       2     6    10
Col4       3     7    11

# Pivot tables

In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'Company': ['Google', 'Microsoft', 'Google', 'Microsoft'], 
      'Product': ['Editor', 'Editor', 'Calendar', 'Azure'], 
      'Price': ['$200', '$250', '$50', '$400']})

df.index.name = 'Row'
df.columns.name = 'Column'

print("The Original DataFrame")
print(df,'\n')

print("The Pivoted DataFrame")
print(df.pivot('Company', 'Product', 'Price'))

The Original DataFrame
Column    Company   Product Price
Row
0          Google    Editor  $200
1       Microsoft    Editor  $250
2          Google  Calendar   $50
3       Microsoft     Azure  $400

The Pivoted DataFrame
Product   Azure Calendar Editor
Company
Google      NaN      $50   $200
Microsoft  $400      NaN   $250