In [1]:
ages = {
    "Peter": 10,
    "Isabel": 11,
    "Anna": 9,
    "Thomas": 10,
    "Bob": 10,
    "Joseph": 11,
    "Maria": 12,
    "Gabriel": 10,
}
# print one item
print("Get age of peter")
print(ages["Peter"])

## print the whole dictionary
print("Get age of all persons")
for key, value in ages.items(): 
    print(key, value)

Get age of peter
10
Get age of all persons
Peter 10
Isabel 11
Anna 9
Thomas 10
Bob 10
Joseph 11
Maria 12
Gabriel 10

In [2]:
from collections import OrderedDict 

ages = OrderedDict()

ages['Peter'] = 12
ages['Susan'] = 10
ages['Maria'] = 5
  
for key, value in ages.items(): 
    print(key, value)

Peter 12
Susan 10
Maria 5

In [4]:
d = {
    0: [0, 0, 0],
    1: [1, 1, 1],
    2: [2, 2, 2],
}

print(d[2])

[2, 2, 2]

In [5]:
ages = {
    "Peter": 10,
    "Isabel": 11,
    "Anna": 9,
    "Thomas": 10,
    "Bob": 10,
    "Joseph": 11,
    "Maria": 12,
    "Gabriel": 10,
}

for x in ages:
    print(x)

Peter
Isabel
Anna
Thomas
Bob
Joseph
Maria
Gabriel

In [6]:
ages = {
    "Peter": 10,
    "Isabel": 11,
    "Anna": 9,
    "Thomas": 10,
    "Bob": 10,
    "Joseph": 11,
    "Maria": 12,
    "Gabriel": 10,
}

for x in ages:
    print(ages[x])

10
11
9
10
10
11
12
10

In [7]:
ages = {
    "Peter": 10,
    "Isabel": 11,
    "Anna": 9,
    "Thomas": 10,
    "Bob": 10,
    "Joseph": 11,
    "Maria": 12,
    "Gabriel": 10,
}

for x in ages.values():
    print(x)

10
11
9
10
10
11
12
10

In [9]:
ages = {
    "Peter": 10,
    "Isabel": 11,
    "Anna": 9,
    "Thomas": 10,
    "Bob": 10,
    "Joseph": 11,
    "Maria": 12,
    "Gabriel": 10,
}

for name, age in ages.items():
    print(name, age)

Peter 10
Isabel 11
Anna 9
Thomas 10
Bob 10
Joseph 11
Maria 12
Gabriel 10

# Nested Dictionary

In [10]:
students = {
    "Peter": {"age": 10, "address": "Lisbon"},
    "Isabel": {"age": 11, "address": "Sesimbra"},
    "Anna": {"age": 9, "address": "Lisbon"},
}
print(students)
print(students['Peter'])
print(students['Peter']['address'])

{'Peter': {'age': 10, 'address': 'Lisbon'}, 'Isabel': {'age': 11, 'address': 'Sesimbra'}, 'Anna': {'age': 9, 'address': 'Lisbon'}}
{'age': 10, 'address': 'Lisbon'}
Lisbon

In [11]:
students = {
    "Peter": {"age": 10, "address": "Lisbon"},
    "Isabel": {"age": 11, "address": "Sesimbra"},
    "Anna": {"age": 9, "address": "Lisbon"},
}

for p_id, p_info in students.items():
    print("\nPerson Name:", p_id)
    for key in p_info:
        print(key + ':', p_info[key])

Person Name: Peter
age: 10
address: Lisbon

Person Name: Isabel
age: 11
address: Sesimbra

Person Name: Anna
age: 9
address: Lisbon

# Use len() function

In [12]:
def lengthDictionary(Students):
    return len(Students)
Students = {
     "Peter": 10,
     "Isabel": 11,
     "Anna": 9,
     "Thomas": 10,
     "Bob": 10,
     "Joseph": 11,
     "Maria": 12,
     "Gabriel": 10,
}
print(lengthDictionary(Students))

8

# Use the sum() and len() function

In [13]:
def calculateAvg(ages):
    length=len(ages)
    return(sum(ages.values())/length)
ages = {
     "Peter": 10,
     "Isabel": 11,
     "Anna": 9,
     "Thomas": 10,
     "Bob": 10,
     "Joseph": 11,
     "Maria": 12,
     "Gabriel": 10,
 }
print(calculateAvg(ages))

10.375

# Use max() Function

In [14]:
def oldestStudent(ages):
  
    value = list(ages.values())
    key = list(ages.keys())
    return key[value.index(max(value))]

ages = {
     "Peter": 10,
     "Isabel": 11,
     "Anna": 9,
     "Thomas": 10,
     "Bob": 10,
     "Joseph": 11,
     "Maria": 12,
     "Gabriel": 10,
  }
print(oldestStudent(ages))

Maria

# Loop Over the Dictionary and Increment Value

In [15]:
def updateAges(ages, n):
    new_ages = {}
    for word in ages:
        new_ages[word] = ages[word] + n
    return new_ages
ages = {
      "Peter": 10,
      "Isabel": 11,
      "Anna": 9,
      "Thomas": 10,
      "Bob": 10,
      "Joseph": 11,
      "Maria": 12,
      "Gabriel": 10,
   }
new_ages = updateAges(ages, 10)
print(new_ages)

{'Peter': 20, 'Isabel': 21, 'Anna': 19, 'Thomas': 20, 'Bob': 20, 'Joseph': 21, 'Maria': 22, 'Gabriel': 20}

In [16]:
def totalStudents(students):
    return(len(students.keys()))

students = {
      "Peter": {"age": 10, "address": "Lisbon"},
      "Isabel": {"age": 11, "address": "Sesimbra"},
      "Anna": {"age": 9, "address": "Lisbon"},
}
print(totalStudents(students))

3

In [17]:
def totalStudents(students):
    return len(students)

students = {
      "Peter": {"age": 10, "address": "Lisbon"},
      "Isabel": {"age": 11, "address": "Sesimbra"},
      "Anna": {"age": 9, "address": "Lisbon"},
}
print(totalStudents(students))

3

In [18]:
def calculateAverageAge(students):
    add_age = 0
    for thing in students.values():
        age = thing['age']
        add_age = add_age + age
    
    return(add_age / len(students.keys()))

students = {
      "Peter": {"age": 10, "address": "Lisbon"},
      "Isabel": {"age": 11, "address": "Sesimbra"},
      "Anna": {"age": 9, "address": "Lisbon"},
      "Gibrael": {"age": 10, "address": "Sesimbra"},
      "Susan": {"age": 11, "address": "Lisbon"},
      "Charles": {"age": 9, "address": "Sesimbra"},
  }
print(calculateAverageAge(students))

10.0

# Use a Nested for Loop

In [19]:
def find_students(address, students):
    names = []
    for key, subdict in students.items():
        for sublist in subdict.values():
            if (sublist == address):
                names.append(key)
    return sorted(names)

students = {
      "Peter": {"age": 10, "address": "Lisbon"},
      "Isabel": {"age": 11, "address": "Sesimbra"},
      "Anna": {"age": 9, "address": "Lisbon"},
}
print(find_students("Lisbon", students))

['Anna', 'Peter']

In [20]:
def find_students(address, students):
    names = []
    for key, value in students.items():
        if value["address"] == address:
            names.append(key)
    return sorted(names)

students = {
      "Peter": {"age": 10, "address": "Lisbon"},
      "Isabel": {"age": 11, "address": "Sesimbra"},
      "Anna": {"age": 9, "address": "Lisbon"},
}
print(find_students("Lisbon", students))

['Anna', 'Peter']

In [21]:
Dict = { 'Dict1': {'Fruitname': 'Mango', 'season': 'Summer'}, 
         'Dict2': {'Fruitname': 'Orange', 'season': 'Winter'}}
print(Dict['Dict1']['Fruitname'])
print(Dict['Dict2']['season'])

Mango
Winter

In [22]:
Dict1 = {
  "FruitName": "Mango",
  "season": "Spring",
}
Dict1["season"] = "Summer"
print(sorted(Dict1.values()))

['Mango', 'Summer']

In [23]:
Dict1 = {
  "FruitName": "Mango",
  "season": "Spring",
}
Dict1.pop("season")
print(Dict1.values())

dict_values(['Mango'])

In [24]:
Dict1 = {
  "FruitName": "Mango",
  "season": "Spring",
}
Dict1.clear()
print(Dict1)

{}