In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'numbers': [1, 2, 3], 'colors': ['red', 'white', 'blue']})
#Show contents of dataframe:
print(df)

   numbers colors
0        1    red
1        2  white
2        3   blue

In [3]:
df = pd.DataFrame({'numbers': [1, 2, 3], 'colors': ['red', 'white', 'blue']},
columns=['numbers', 'colors'])

In [4]:
df

   numbers colors
0        1    red
1        2  white
2        3   blue