In [1]:
import numpy as np
import pandas as pd
# Set the seed for a reproducible sample
np.random.seed(0)
df = pd.DataFrame(np.random.randn(5, 3), columns=list('ABC'))
print(df)

          A         B         C
0  1.764052  0.400157  0.978738
1  2.240893  1.867558 -0.977278
2  0.950088 -0.151357 -0.103219
3  0.410599  0.144044  1.454274
4  0.761038  0.121675  0.443863

In [2]:
df = pd.DataFrame(np.arange(15).reshape(5,3),columns=list('ABC'))

In [3]:
df

    A   B   C
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [4]:
df = pd.DataFrame(np.arange(48).reshape(8,6),columns=list('ABCDEF'))

In [5]:
df

    A   B   C   D   E   F
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35
6  36  37  38  39  40  41
7  42  43  44  45  46  47

In [15]:
#df.ix[2,0] = np.nan 
# in column 0, set elements with indices 0,2,4, ... to NaN
#df.ix[::4,1] = pd.NaT 
# in column 1, set elements with indices 0,4, ... to np.NaT
#df.ix[:3,2] = 'nan' 
# in column 2, set elements with index from 0 to 3 to 'nan'
#df.ix[:,5] = None 
# in column 5, set all elements to None
#df.ix[5,:] = None 
# in row 5, set all elements to None
#df.ix[7,:] = np.nan 
# in row 7, set all elements to NaN
print(df)

    A   B   C   D   E   F
0   0   1   2   3   4   5
1   6   7   8   9  10  11
2  12  13  14  15  16  17
3  18  19  20  21  22  23
4  24  25  26  27  28  29
5  30  31  32  33  34  35
6  36  37  38  39  40  41
7  42  43  44  45  46  47