In [1]:
import pandas as pd

In [2]:
mydata = {
    "Movie" : ["Bahubali", "Tron", "Matrix"],
    "Rating" : [2.5, 3.5, 3.6]
}

data = pd.DataFrame(mydata)

In [3]:
data

      Movie  Rating
0  Bahubali     2.5
1      Tron     3.5
2    Matrix     3.6

### Series

In [4]:
s = pd.Series([1,2,3,6])
print(s)

0    1
1    2
2    3
3    6
dtype: int64

In [6]:
print(s[1])  #Labels

2

In [7]:
s = pd.Series([1,2,3,6], index=["a","b","c","d"])
print(s)

a    1
b    2
c    3
d    6
dtype: int64

In [8]:
print(s["c"])  #Labels

3

In [9]:
print(s["d"])  #Labels

6

In [13]:
newdata = {
    "Movie" : ["Bahubali", "Tron", "Matrix", "Rock"],
    "Rating" : [2.5, 3.5, 3.6, 4]
}

df = pd.DataFrame(newdata)

In [14]:
df

      Movie  Rating
0  Bahubali     2.5
1      Tron     3.5
2    Matrix     3.6
3      Rock     4.0

In [15]:
print(df.loc[1])

Movie     Tron
Rating     3.5
Name: 1, dtype: object

In [16]:
print(df.loc[[0,1]])

      Movie  Rating
0  Bahubali     2.5
1      Tron     3.5