In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.random.randn(1000, 3), columns=['a', 'b', 'c'])

In [5]:
df.corr()

          a         b         c
a  1.000000  0.004439 -0.075713
b  0.004439  1.000000 -0.003764
c -0.075713 -0.003764  1.000000

In [6]:
df.corr(method='spearman')

          a         b         c
a  1.000000  0.007736 -0.060194
b  0.007736  1.000000  0.009609
c -0.060194  0.009609  1.000000