In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.choice(['foo','bar','baz'], size=(100000,3)))
df = df.apply(lambda col: col.astype('category'))

In [3]:
df.head()

     0    1    2
0  bar  foo  baz
1  bar  baz  foo
2  foo  baz  bar
3  foo  bar  bar
4  bar  foo  baz

In [4]:
df.dtypes

0    category
1    category
2    category
dtype: object

In [5]:
df.shape

(100000, 3)